*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-weight: 400;
  font-family: "lato", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #333; }

html {
  font-size: 62.5%; }

#particles-js {
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0; }

@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-primary {
  text-transform: uppercase;
  color: aliceblue;
  backface-visibility: hidden;
  margin-bottom: 60px; }
  .heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation: moveinleft ease-out 1s; }
  .heading-primary-secondary {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveinright ease-out 1s; }

.heading-secondary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(75, 193, 165, 0.8), rgba(45, 61, 176, 0.75));
  color: transparent;
  -webkit-background-clip: text; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(75, 193, 165, 0.8), rgba(45, 61, 176, 0.75)), url(../img/header.jpg);
  background-position: top;
  background-size: cover;
  webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 50% 90%, 0 100%, 0 100%, 0 0);
  clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 50% 90%, 0 100%, 0 100%, 0 0);
  position: relative; }
  .header_logo-box {
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: 100; }
  .header_logo {
    height: 80px; }
    .header_logo-1 {
      height: 92px; }
  .header_avatar-box {
    position: fixed;
    right: 39px;
    top: 10px;
    z-index: 1000; }
  .header_avatar {
    height: 50px;
    border-radius: 50%; }
  .header_text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 100rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 6rem) / 5); }
  .row .col-1-of-1 {
    margin: 0 auto; }

.footer {
  background-color: #333;
  padding: 3rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer_navigation {
    text-align: center;
    margin: 0 auto; }
  .footer_list {
    border-top: 1px solid #295788;
    padding-top: 2rem;
    list-style: none;
    display: inline; }
  .footer_item {
    display: inline-block; }
    .footer_item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer_link:link, .footer_link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer_link:hover, .footer_linkactive {
    color: rgba(75, 193, 165, 0.8);
    box-shadow: 0 1rem 2 rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer_copyright {
    text-align: center;
    padding: 0 50px;
    border-top: 1px solid #295788;
    padding-top: 2rem;
    margin-top: 2rem; }

.section-features {
  position: relative;
  padding: 15rem 0;
  margin-top: -10rem; }

.section-category {
  background-color: #f7f7f7;
  padding: 14rem 0 50rem  0;
  margin-top: -15rem; }

.sciencefiction {
  background-color: #f7f7f7;
  padding: 14rem 0 5rem  0; }

.sfh {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, -50%); }

.sfb {
  height: 21rem;
  width: 100%;
  position: relative; }

.sfbi {
  background-size: cover;
  width: 100%;
  height: 100%; }

.overlay, .d_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s; }
  .overlay_content, .d_overlay_content {
    font-weight: 400;
    font-size: 1.6rem;
    color: white; }

.overlay:hover {
  opacity: 1;
  cursor: pointer; }

.d_overlay:hover {
  opacity: 1;
  cursor: pointer;
  border-radius: 50%; }

.sfbc {
  text-align: center;
  font-size: 1.6rem; }

.btn:link, .btn:visited {
  padding: 15px 40px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-search {
  background-color: #fff;
  color: #333; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-search::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scalex(1.4) scaleY(1.6);
  opacity: 0; }

.search {
  padding: 15px 40px;
  text-transform: uppercase;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  border-color: #295788;
  border: 3px;
  text-align: center; }
  .search:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 7rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-caption-colorful {
  background-image: linear-gradient(to left, #168468, #2c06c2);
  color: transparent;
  -webkit-background-clip: text; }

.u-center-content {
  margin: 0 auto; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;
  opacity: 0;
  transform: translateY(-4em);
  transition: transform 2s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out; }
  .card_side {
    height: 40rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card_side--front {
      background-color: #fff; }
    .card_side--back {
      transform: rotateY(180deg); }
      .card_side--back-1 {
        background-image: linear-gradient(to right bottom, rgba(69, 251, 209, 0.8), rgba(45, 61, 176, 0.75)); }
  .card:hover .card_side--front {
    transform: rotateY(-180deg); }
  .card:hover .card_side--back {
    transform: rotateY(0); }
  .card .card_picture--1 {
    background-size: cover;
    height: 40rem;
    position: relative;
    background-image: url(../img/science_fiction.jpg); }
  .card .card_picture--2 {
    background-size: cover;
    height: 40rem;
    position: relative;
    background-image: url(../img/romance.jpg); }
  .card .card_picture--3 {
    background-size: cover;
    height: 40rem;
    position: relative;
    background-image: url(../img/horror.jpg); }
  .card .card_picture--4 {
    background-size: cover;
    height: 40rem;
    position: relative;
    background-image: url(../img/fantasy.jpg); }
  .card .card_picture--5 {
    background-size: cover;
    height: 40rem;
    position: relative;
    background-image: url(../img/mystery.jpg); }
  .card .card_picture--6 {
    background-size: cover;
    height: 40rem;
    position: relative;
    background-image: url(../img/history.jpg); }
  .card .card_picture--7 {
    background-size: cover;
    height: 40rem;
    position: relative;
    background-image: url(../img/students.jpg); }
  .card_heading {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 2.8rem;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .card_cta {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card_textbox {
    text-align: center;
    margin-bottom: 6rem; }
  .card_text {
    font-size: 1.45rem;
    text-transform: capitalize;
    color: white;
    font-weight: 550; }

.students {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  padding: 2rem;
  padding-left: 7rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .students_text {
    transform: skewX(12deg); }

.card.is-visible {
  opacity: 1;
  transform: translateY(3rem); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.features {
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  padding: 1.5rem;
  padding-left: 7rem;
  font-size: 1.6rem;
  opacity: 0;
  transform: skewX(12deg) translateY(-6rem);
  transition: transform 2.5s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out; }
  .features_text {
    transform: skewX(12deg);
    transition: all; }

.features.is-visible {
  opacity: 1;
  transform: translateY(1rem) skewX(-12deg); }

.developer {
  height: 13rem;
  width: 15rem;
  position: relative; }
  .developer_img {
    height: 100%;
    width: 100%;
    border-radius: 50%; }
  .developer_caption {
    visibility: hidden; }
  .developer:hover .developer_caption {
    visibility: visible;
    color: rgba(75, 193, 165, 0.8); }

.navigation_bar {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 55% 0 0 60%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  right: -300px;
  transition: right .8s; }

.navigation_icon {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 80px;
  right: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.navigation_list {
  text-align: right; }

.navigation_item {
  list-style: none;
  margin: 20px; }

.navigation_link {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0; }
  .navigation_link::before, .navigation_link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgba(75, 193, 165, 0.8);
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s; }
  .navigation_link::after {
    bottom: 0;
    transform-origin: right; }
  .navigation_link::before {
    top: 0;
    transform-origin: left; }

.navigation_link:hover::before,
.navigation_link:hover::after {
  transform: scaleX(1); }

.line {
  width: 100%;
  height: 3px;
  background-color: rgba(75, 193, 165, 0.8);
  transition: all 0.8s; }

.change .line-1 {
  transform: rotatez(-405deg) translate(-8px, 6px); }

.change .line-2 {
  opacity: 0; }

.change .line-3 {
  transform: rotatez(405deg) translate(-8px, -6px); }

.change {
  right: 0; }

.popup_bg1, .popup_bg3, .popup_bg2 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; }

.popup_content {
  width: 300px;
  height: 370px;
  background-color: #f8f8f8;
  position: relative;
  padding: 20px;
  border-radius: 5px;
  opacity: 0.9; }
  .popup_content_signup {
    width: 400px;
    height: 635px; }
  .popup_content_upload {
    width: 400px;
    height: 585px; }

.popup_close1, .popup_close3, .popup_close2 {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 40px;
  font-weight: 500;
  transform: rotate(45deg);
  cursor: pointer; }

.avatar {
  border-radius: 50%;
  width: 135px;
  height: 135px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1; }

.login_heading {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); }
  .login_heading_signup {
    top: 18%; }
  .login_heading_login {
    top: 31%; }

.form {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; }
  .form_signup {
    top: 62%; }
  .form_login {
    top: 69%; }

.input {
  border: 2px solid #295788;
  color: black;
  background: transparent;
  border-radius: 20px;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  width: 100%; }
  .input_login {
    margin-bottom: 20px; }

input[type=Submit] {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  border: white solid 1px;
  border-radius: 20px;
  transition: all 0.4s;
  background-size: 200%;
  background-image: linear-gradient(to left, rgba(75, 193, 165, 0.8), rgba(45, 61, 176, 0.75)); }

input[type=Submit]:hover {
  background-position: right; }

.h-line {
  background-color: #295788;
  height: 2.2px;
  margin-bottom: 12px; }

slide {
  visibility: visible; }

.error {
  font-size: 1.2rem;
  color: red;
  height: 22px; }
