@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}// or simply overflow:auto
//it fixes the problem creted when the content inside a container is bigger causing overflow.