$color-primary:rgba(75, 193, 165, 0.8);
$color-primary-light:rgba(69, 251, 209, 0.8);
$color-primary-dark: rgba(45, 61, 176, 0.75);

$color-secondary-light:rgba(69, 251, 209, 0.8);
$color-secondary-dark:rgba(45, 61, 176, 0.75);


$color-grey-dark:#777;
$color-grey-light:#f7f7f7;


// FONT
$default-font-size: 1.6rem;


$color-white:#fff;
$color-black:#000;

$grid-width : 100rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;