.card {
    // functionality
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 40rem;
    opacity: 0;
 
    transform: translateY(-4em);
    transition: transform 2s .25s cubic-bezier(0,1,.3,1),
                 opacity .3s .25s ease-out;
    

    &_side {
        height: 40rem;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
        overflow: hidden;
        &--front {
            background-color: $color-white;
            
        }
        &--back {
            transform: rotateY(180deg);
            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            
            
            
        }
    }

    &:hover &_side--front {
        transform: rotateY(-180deg);
    }
    &:hover &_side--back {
        transform: rotateY(0);
    }
    // front side styling
    // &_picture {
    //     background-size: cover;
    //     height: 40rem;
    //     position: relative;
    //     &--1{
    //         background-image: url(../img/science_fiction.jpg);
    //     }
    //     &--2{
    //         background-image: url(../img/romance.jpg);
    //     }
    //     // &--3{
    //     //     background-image: url(../img/horror.jpg);
    //     // }
    //     &--4{
    //         background-image: url(../img/fantasy.jpg);
    //     }
    //     &--5{
    //         background-image: url(../img/mystery.jpg);
    //     }
    //     &--6{
    //         background-image: url(../img/history.jpg);
    //     }
        
    // }
    .card_picture--1{
        background-size: cover;
        height: 40rem;
        position: relative;
        background-image: url(../img/science_fiction.jpg);
    }
    .card_picture--2{
        background-size: cover;
        height: 40rem;
        position: relative;
        background-image: url(../img/romance.jpg);
    }
    .card_picture--3{
        background-size: cover;
        height: 40rem;
        position: relative;
        background-image: url(../img/horror.jpg);
    }
    .card_picture--4{
        background-size: cover;
        height: 40rem;
        position: relative;
        background-image: url(../img/fantasy.jpg);
    }
    .card_picture--5{
        background-size: cover;
        height: 40rem;
        position: relative;
        background-image: url(../img/mystery.jpg);
    }
    .card_picture--6{
        background-size: cover;
        height: 40rem;
        position: relative;
        background-image: url(../img/history.jpg);
    }
    .card_picture--7{
        background-size: cover;
        height: 40rem;
        position: relative;
        background-image: url(../img/students.jpg);
    }

    &_heading {
        text-transform: uppercase;
        color: $color-white;
        font-weight: 700;
        font-size: 2.8rem;
        text-align: center;
        position: absolute;
        top: 12rem;
        left: 14%;
    }
    &_cta{
        position: absolute;
        top: 60% ;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        text-align: center;
    }
    &_textbox{
        text-align: center;
        margin-bottom: 6rem;
    }
    &_text{
        font-size: 1.45rem;
        text-transform: capitalize;
        color: white;
        font-weight: 550;

    }
    
}
.students{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .4);
    border-radius: 3px;
    padding: 2rem;
    padding-left: 7rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    

   

    &_text {
        transform: skewX(12deg);
    }
}
.card.is-visible {
    opacity: 1;
    transform: translateY(3rem);

}