.developer {
    
        height: 13rem;
        width: 15rem;
        // text-align: center;
        position: relative;
        

    &_img {
        height: 100%;
        width: 100%;
        border-radius:  50%;
    }

    &_caption {
       visibility: hidden;
    }


   
&:hover &_caption{
    visibility: visible;
    color: $color-primary;
}
}
// .developer.is-visible {
//     opacity: 1;
//     transform: translateY(3rem);

// }