.developer {
    
        height: 20rem;
        //width: 20rem;
        text-align: center;
        

    &_img {
        height: 100%;
        //width: 100%;
        border-radius:  50%;
    }

    &_caption {
       visibility: hidden;
    }

 opacity: 0;
 
 transform: translateY(-4em);
 transition: transform 2s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;

   
&:hover &_caption{
    visibility: visible;
    color: $color-primary;
}
}
.developer.is-visible {
    opacity: 1;
    transform: translateY(3rem);

}