.developer {
    
        height: 20rem;
        text-align: center;
        

    &_img {
        height: 100%;
        border-radius:  50%;
    }

    &_caption {
       visibility: hidden;
    }

   
&:hover &_caption{
    visibility: visible;
    color: $color-primary;
}
}
