*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body {
	font-weight: 400;
	font-family: "lato", sans-serif;
	font-size: 16px;
	line-height: 1.7;
	color: $color-grey-dark;
	//padding: 30px;
}

html {
	font-size: 62.5%;
	
}
#particles-js-1{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 11111;


	// z-index: 99999;
	// background-color: black;
}