.heading-primary {
    text-transform: uppercase;
    color: aliceblue;
    backface-visibility: hidden;
    margin-bottom: 60px;
    &-main{
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;
        animation: moveinleft ease-out 1s;
        
        }
        &-secondary{
         display: block;
         font-size: 20px;
         font-weight: 700;
         letter-spacing: 17.4px;
         animation: moveinright ease-out 1s;
        }
    }
    .heading-secondary{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3.5rem;
        display: inline-block;//as text-align is set center in container 
        background-image: linear-gradient(to right, $color-primary, $color-primary-dark) ;
        color: transparent;
        -webkit-background-clip: text;//background gets cliped only where text is
    }   
    
    .heading-tertiary {
        font-size: $default-font-size;
        font-weight: 700;
        text-transform: uppercase;
        
        color: rgb(44, 106, 148);
        
    }

