.sciencefiction{
    background-color:$color-grey-light;
    padding: 14rem 0 5rem  0;
}
.sfh{
    position: absolute;
    top: 60px;
    left: 50%;
  transform: translate(-50%, -50%);
}

.sfb{
    height: 21rem;
    width: 100%;
    position: relative;

}
.sfbi{
    background-size: cover;
    width: 100%;
    height: 100%;

}
.overlay , .d_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    &_content{
        font-weight: 400;
        font-size: $default-font-size;
        color: white;

    }

}
.overlay:hover{
    opacity: 1;
    cursor: pointer;
    
}
.d_overlay:hover{
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
}
.sfbc{
    text-align: center;
    font-size: $default-font-size;
}
#particles-js{
    z-index: -1;
    height: 100%;
    width: 100%;
}