.sciencefiction{
    background-color:$color-grey-light;
    padding: 14rem 0 5rem  0;
}
.sfh{
    position: absolute;
    top: 60px;
    left: 50%;
  transform: translate(-50%, -50%);
}

.sfb{
    height: 21rem;
    width: 100%;
    position: relative;

}
.sfbi{
    background-size: cover;
    width: 100%;
    height: 100%;

}
.sfbc{
    text-align: center;
    font-size: $default-font-size;
}