
.section-features {
    position: relative;
    padding: 15rem 0;
    margin-top: -10rem;
    
    

}

.section-category{
    background-color:$color-grey-light;
    padding: 14rem 0 50rem  0;
    margin-top: -15rem;
    
}
